.homesearch {
  width: 100%;
  height: 100%;
}

.card {
  margin-top: 20%;
  width: 100%;
  height: fit-content;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
  transition: ease-in-out 0.2s;
}
.card:hover {
  transform: scale(103%);
  box-shadow: rgba(0, 0, 0, 0.21) 0 10px 50px;
  transition: ease-in-out 0.1s;
}
.form-group {
  margin-top: 1em;
}
.flex {
  display: flex;
  justify-content: center;
}
.icon {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.Input {
  margin-top: 1em;
  margin-bottom: 1em;
}
h2 {
  margin-left: 0.5em;
}
.searchfields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  justify-content: end;
  display: flex;
  margin-top: 3em;
  position: sticky;
}
#arrow-icon {
  transform: scaleY(-1);
  font-size: 2em;
}