#search-res-list {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-res-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
  padding-bottom: 1rem;
}

#search-res-destinations {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
}

#back-button-search-result {
  margin: 0;
  position: fixed;
  top: 3rem;
  left: 5rem;
}

#spinner-wrapper {
  width: 100%;
  margin-top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
