@use '../../assets/variables' as v;

#connection {
  font-size: 2.5em;
  display: flex;
  align-items: center;
}

.destination {
  margin-left: 1rem;
  margin-right: 1rem;
}

#connection-details-wrapper {
  margin-top: 5rem;
  margin-left: 5rem;
}

#details-content {
  display: flex;
}

#journey-wrapper {
  width: 30%;
  position: sticky;
  top: 5rem;
}

#map-information-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#back-button {
  margin-top: 5rem;
}
