#connection-card {
  height: 10rem;
  margin: 1em;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
  cursor: pointer;
}

#destinations {
  display: flex;
  justify-content: flex-start;
}

#from {

}

#to {
  margin-left: auto;
}

#line {
  padding: 1rem;
  display: flex;
  align-items: center;
}

#connection-line {
  width: 100%;
  background-color: black;
  height: 0.2em;
}

.dot {
  margin-left: -10px;
  margin-right: -10px;
  background-color: black;
  border-radius: 100%;
  width: 0.5em;
  height: 0.5em;
}

#delete-button {
  color: #fff;
  background-color: #EB0000;
  float: right;
}
