#connection-card {
  margin: 1em;
  font-size: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#connection-card:hover {
  transform: scale(103%);
  box-shadow: rgba(0, 0, 0, 0.21) 0 10px 50px;
  transition: ease-in-out 0.1s;
}

#card-header {
  display: flex;
  align-items: center;
}

#card-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#product-tag {
  height: fit-content;
  width: fit-content;
  padding: 0.1em 0.4em 0.1em 0.4em;
  font-size: 0.7em;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  background-color: #EB0000;
  margin-right: 1rem;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}

#journey {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#destinations {
  display: flex;
  justify-content: center;
  width: 100%;
}

#from {

}

#to {
  margin-left: auto;
}

#line {
  padding: 1rem;
  display: flex;
  align-items: center;
}

#connection-line {
  width: 100%;
  background-color: black;
  height: 0.2em;
}

.dot {
  margin-left: -10px;
  margin-right: -10px;
  background-color: black;
  border-radius: 100%;
  width: 0.5em;
  height: 0.5em;
}

#delete-button {
  color: #fff;
  background-color: #EB0000;
  margin-left: auto;
  margin-right: 0.5rem;
}
