#not-found-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 10%;
}

#back-button-not-found {
  position: unset;
  width: fit-content;
}
