.Login{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
}
.form-group{
    margin-bottom: 1em;
}
h1{
    margin-left: 1em;
    margin-top: 1em;
}
.btn-primary {
    color: #fff;
    background-color: #EB0000;
    background-color: cutom-color;
    border-color: #EB0000;
    border-color: cutom-cor;
}

.Input{
    border-radius: 0.2em;
    height: 2.2em;
}
.p{
    margin-bottom: 0.5em;
}