#information {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.information-detail-wrapper {
  margin-bottom: 2rem;
}

.information-detail-wrapper h5 {
  font-weight: 700;
  font-size: 1.3em;
}

.detail-field {
  font-size: 1.1em;
}
