#connection {
  font-size: 2.5em;
  display: flex;
  align-items: center;
}

.destination {
  margin-left: 1rem;
  margin-right: 1rem;
}

#connection-details-wrapper {
  margin-top: 5rem;
  margin-left: 5rem;
}

#details-content {
  display: flex;
}

#journey-wrapper {
  width: 50%;
}

#map-wrapper {
  width: 40%;
}
